
<div class="flex">
  <a href="https://github.com/login/oauth/authorize?scope=user:email&client_id=<%= @client_id %>"><button class="button" type="button"><span>Login with Github</span></button></a>
</div>
